<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=memestor;AccountKey=UXTmhy7Vvijf5nw3fdjUC0YMov81bLB3dn71sO13nxAuE9HpS0rHKQS/LSjlEC3AoeJ4JIgkUqryq2Ga6WiYtQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>